<p>yyyyyyyyyyyyyyyyyyyyyyyyy</p>
<!-- 
<div class="container">
    <h1>Welcome to Our Theater Management System</h1>
    <h2>Available Theaters</h2>
    <div *ngIf="theaters.length > 0; else noTheaters">
      <ul>
        <li *ngFor="let theater of theaters">
          <h3>{{ theater.name }}</h3>
          <p>Location: {{ theater.location }}</p>
          You can add more information about the theater here 
        </li>
      </ul>
    </div>
    <ng-template #noTheaters>
      <p>No theaters available at the moment.</p>
    </ng-template>
  </div> -->
  